<div class="container">
    <div *ngIf="isLoading" style="text-align: center">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="alert alert-danger" *ngIf="isError">
        <h1>An Error Occurred</h1>
        <p>{{ errorMsg }}</p>
    </div>

    <div *ngIf="!isLoading && !isError">
        <div class="row">
            <div class="col-sm-10">
                <input type="text" class="form-control" (input)="resetPage()" placeholder="Search Products..." [(ngModel)]="filterTerm">
            </div>
            <div class="col-sm-2">
                <a class="nav-item nav-link btn btn-primary" [routerLink]="['/products/edit/new']" [routerLinkActive]="['active']">Add Product</a
        >
      </div>
    </div>
    <br />
    <div class="row">
    <ng-container
      *ngFor=" let x of data | filter: filterTerm | paginate: { itemsPerPage: 4, currentPage: pageNumber };
               let i = index" >
    <br>
        <div class="card col-sm-5" style="width: 10rem">
          <img
            height="400"
            width="100"
            class="card-img-top"
            data-toggle="tooltip"
            data-placement="left"
            title="{{ x.productDescription }}"
            [src]="x.productImage"
            alt="Card image cap "
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Name : {{ x.productName }}</h5>
            <h6 class="card-text">Category : {{ x.productCategory }}</h6>
            <h6 class="card-text">Price : {{ x.productPrice }} $</h6>
            <a (click)="addToCart(i)" class="btn btn-primary">Add to cart</a
            ><br />
            <div class="row">
              <div class="col-sm-6">
                <a
                  [routerLink]="['edit/',i]"
                  style="float: right"
                  class="btn btn-primary"
                  >Edit</a>
            </div>
            <div class="col-sm-6">
                <a (click)="deleteProduct(x.productId)" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-1"></div>
</ng-container>

<br />
</div>
</div>
<br>
<pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
</div>